/* Top-bredde defineres */

.menu-nav{
    max-width: 100%;
    margin: 0 auto;
}

video{
    height: 90vh;
    width: 100%;
    object-fit: cover;
    position: relative;
}

video::-webkit-media-controls-timeline{
    display: none;
}

video::-webkit-media-controls{
    display: none;
}

/* Flex - Space-between */

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* logo styling */

.logo {
   position: absolute;
   top: 15px;
   left: 15px;
   font-family: 'Jost', sans-serif;
   font-size: 23px;
   font-weight: 300;
   color: white;
   text-decoration: none;
}

.hero-head{
    position: absolute;
    left: 15px;
    color: #ffffff;
    font-size: 38px;
    font-weight: 300;
    text-transform: uppercase;    
}

/* menu-styling */

.nav-ul{
    display: none;
    flex-direction: column;
    margin: 0;
    font-size: 1.2rem;
    list-style-type: none; 
}
   /* js aktiveres. styling af baggrung for dropdown menu */

.nav-ul.show {
    position: absolute;
    display: flex;
    background-color: #00AAA9;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    align-items: center;
    line-height: 70px;
    justify-content: center;
    z-index: 3;
}

.nav-txt {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-size:20px;
    color: #FFFFFF;
    font-weight: 300;
    text-decoration: none;
    padding: 5px;   
}

.hamburger{
    border: 0;
    display: block;
    color: #ffffff;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

/* responsiv navigation for desktop */
@media screen and (min-width: 800px) {


    .nav-ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 30px;
        right: 20px;
    }


    .nav-txt {
      color: white; 
      font-weight: 300; 
    }

    li{
        padding: 0;
        margin-left: 50px;
    }


    a:hover{
        color:#C1ADCE ;
    }

    .hamburger{
        display: none;
    }

    .logo{
        font-size: 40px;
    }

    .hero-head{
        font-size: 60px;
        width: 50%;
        margin-left: 90px;

    }
}   