.cards{
    background-color:#2ebea6a8; 
    padding-top: 30px;
    padding-bottom: 30px;
}

.product{
    background-color: #00AAA9; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1frpx;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    margin: 25px;
}

.item{
background-color:#00AAA9;
text-align: left;
}

.product-img{
    height: 60px;
    width: auto;
    margin-left: 20px;
    margin-top: 30px;
    
}

.desc-txt{
    color: white;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
}

.link-btn{
    background-color:#5CD09A ;
    font-size: 14px;
    height: 40px;
    width: 285px;
    border: 0;
    border-radius: 25px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
 }