

.slider .slides .single-slide{
    
    position: relative;
    display: none; /* Slides er som udgangspunkt display:none - Kun når de får class'en 'active', bliver de vist */
    user-select: none;
    height: 80vh;


    animation-name: fade;
    animation-duration: 1.0s;
    
}

/* 

    Vores slider´s slide, når den er active/valgt 

*/
.slider-wrapper .slides .single-slide.active {

    display: flex;
    justify-content: center;

}

.overlay-txt {
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: left;;
    top: 40%; 
    left: 47%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    z-index: 3; 
}

.slider-txt{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    top: 47%; 
    left: 47%; 
    transform: translate(-50%, -50%); 
    position: absolute; 
    z-index: 3; 
}

.overlay-color{
    background-color: #00000065 ;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 90vh;
    top:0%;
}

.slider .slider-slides .slider-slide {
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.apple-img{
    position: absolute;
    height: 120px;
    width: auto;
    z-index: 4;
    top: 55%;
    margin-left: -3px;
}

.google-img{
    position: absolute;
    height: 120px;
    z-index: 4;
    top: 46%;
    left: 40%;
}

.slider-buttons{
    display: none;
}


 /* responsiv navigation for desktop */
 @media (min-width: 620px){

    .overlay-txt{
        top: 35%; 
        left: 47%; 
        font-size: 50px;
    }

    .slider-txt{
        font-size: 18px;
        width: 80%;
        top: 47%; 
        left: 47%;
    }

    .apple-img{
        height: 180px;
        top: 55%;
        margin-left: -8px;
    }
    
    .google-img{
        height: 180px;
        top: 42%;
        left: 40%;
    }
 }

 @media (min-width: 910px){

    .apple-img{
        height: 200px;
        top: 52%;
        margin-left: 2px;
    }
    
    .google-img{
        height: 200px;
        top: 38%;
        left: 25%;
    }

 }