* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 

    Vores Overordnede slider komponent

*/
.slider-wrapper {
    margin: 20px;
    height: 80vh;
}

/* 

    Vores Slider Buttons område

*/

.slider-buttons {

    display: none;

}

.slider-buttons button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
}

.slide-pic{
    opacity: 40% ;
}
/* 

    Vores slider´s slide

*/

.slider-wrapper .slides .single-slide{
    
    position: relative;
    display: none; /* Slides er som udgangspunkt display:none - Kun når de får class'en 'active', bliver de vist */
    user-select: none;
    height: 80vh;


    animation-name: fade;
    animation-duration: 2.0s;
    
}

/* 

    Vores slider´s slide, når den er active/valgt 

*/
.slider-wrapper .slides .single-slide.active {

    display: flex;
    justify-content: left;
    align-items: start;

}

/* 

    Vores slider´s slide, img

*/

.slider-wrapper .slides .single-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 

    Vores slider´s slide, content område.

*/
.slider-wrapper .slides .slide-content {

    position: absolute;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    top: 40%;
    left: 15px;
    z-index: 3;
        
}

.text{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    top:120%;
    line-height: 20px;
    z-index: 4;
}
/* 

    Vores slider´s , display område.

*/
.slider-wrapper .slides .display
{

    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 32px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    
    background-color: rgba(255, 255, 255, .4);
    color: black;
    
    padding-left: 30px;
    left: 0%;
    
    border-radius: 0 0 32px 0;
    border-right: 2px solid rgba(255, 255, 255, .4);
    border-bottom: 2px solid rgba(255, 255, 255, .4);

}


.cta-btn {
    background-color:#00AAA9;
    border-radius: 25px ;
    color: white;
    width: 290px;
    height: 35px;
    border: 0;
    text-transform: uppercase;
    font-size: 15px;

    font-family: 'Open Sans', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 65%;    
    left: 20px;
    cursor: pointer;


}


@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}


@media screen and (min-width: 800px) {

    .slider-wrapper .slides .slide-content {
        font-size: 50px;
        top: 30%;
        left:70px;
    
    }
    
    .text{
        font-size: 17px;
        top:120%;
        line-height: 30px;
        z-index: 4;
    }

    
.cta-btn {
  
    width: 300px;
    font-size: 15px;
    top: 65%;    
    left: 70px;
}
}