/* ===== BASE SITE CSS START ===== */
 *, *::before, *::after{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }
 /* font-family: 'Jost', sans-serif;
 */

/*  font-family: 'Open Sans', sans-serif;
 */
 h1{
    font-family: 'Jost', sans-serif;
 }

 p{
    font-family: 'Open Sans', sans-serif;
 }
 /* ===== BASE SITE CSS END ===== */

 /* SECTION KOM HURTIGT I GANG */

 .start-now{
    margin-left: 15px;
    margin-top: 40px;
    
 }

 .head-start{
    color: #00AAA9;
    font-size: 20px;
 }

 .txt-start{
    font-size: 12px;
    width: 100%;
 }

.btn-start{
   background-color:#5CD09A ;
   font-size: 14px;
   height: 40px;
   width: 340px;
   border: 0;
   border-radius: 25px;
   margin: auto;
   font-family: 'Open Sans', sans-serif;
   color: white;
   text-transform: uppercase;
   cursor: pointer;
   font-weight: 500;
   margin-top: 20px;
   margin-bottom: 50px;
}

